/****** General ***********/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** HEADER - NAVBAR ******/

header {
    display: flex;
    justify-content: space-between;

}

header img {
    height: 19px;
    margin-top: 30px;
}

.headerButtons {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 244px;
    height: 35px;
}

.headerButtons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    padding-top: 14px;
    border-top: solid 2px transparent;
}

.headerButtons a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

/****** TOP PART SEARCH HEBERGEMENT ******/

/*** TITRE SECTION ***/

.topPartHebergement {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.topHebergementReve h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 63px;
}

.topHebergementReve p {
    margin-top: 8px;
}

.topPartHebergement p {
    font-weight: 400;
    font-size: 16px;
}

/*** RECHERCHE APPART ***/

.topRechercheAppart {
    display: flex;
    margin-top: 20px;
}

.topRechercheAppart span {
    display: flex;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
}

.topRechercheAppart input[type=search] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    text-indent: 17px;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.topRechercheAppart input[type=search]::placeholder {
    color: #000000;
}

.topRechercheAppart #rechercher {
    background-color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.topRechercheAppart #loupe {
    display: none;
    background-color: #0065FC;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.topRechercheAppart .fa-magnifying-glass {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

/*** FILTRES RECHERCHE ***/

.topFiltresRecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    max-width: 100vw;
}

.topFiltresRecherche i {
    color: #0065FC;
    margin-right: 10px;
}

.topFiltresRecherche p {
    font-weight: 700;
    font-size: 18px;
}

.filtresTitle {
    margin-right: 15px;
}

.groupFiltres {
    display: flex;
    flex-wrap: wrap;
}

.topFiltresRecherche button {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 13px 20px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    transition: .25s;
}

/*** INFOS RECHERCHE ***/

.topInfoRecherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 37px;
}

.topInfoRecherche i {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
}

.topInfoRecherche p {
    margin-left: 11px;
}

/****** Hebergements And Populaires ******/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ******/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergementsCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergementsCards .card {
    width: 30%;
    background-color: white;
    padding-bottom: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.hebergementsCards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergementsCards .card-content {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergementsCards h3 {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hebergementsCards .card-rating {
    margin-top: 8px;
}

.hebergements button {
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ******/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** ACTIVITES MARSEILLE ******/

.activitesMarseille {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    margin-top: 35px;
}

.activitesMarseille h2 {
    margin-bottom: 30px;
}

.cardActivites .card {
    width: 22.5%;
    padding: 0;
    cursor: pointer;
}

.cardActivites .card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 16px;
    font-weight: 700;
}

.cardActivites img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardActivites  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/****** FOOTER ******/

footer {
    background: #F2F2F2;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

footer div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

footer a {
    text-decoration: none;
    color: black;
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ******/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .topFiltresRecherche {
        display: block;
    }

    .groupFiltres {
        margin-top: 10px;
    }

    .cardActivites img {
       height: 150px; 
    }

    .cardActivites .card-content {
        padding: 15px;
    }

    .cardActivites h3 {
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergementsCards .card {
        width: 100%;
    }

    header {
        display: flex;
    }

    nav {
        width: 100%;
    }

    header img {
        align-items: center;
    }

    .headerButtons {
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 35px;
    }
    
    .headerButtons a {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000000;
        padding-top: 14px;
        border-bottom: solid 2px transparent;
        border-top: transparent;
    }

    .headerButtons a:hover {
        text-decoration: none;
        padding-top: 14px;
        border-top: transparent;
        border-bottom: solid 2px #0065FC;
    }

    .topPartHebergement {
        padding: 0;
    }

    .topRechercheAppart {
        margin: 20px 20px 0 20px;
    }

    .topRechercheAppart #rechercher {
        display: none;
    }
    
    .topRechercheAppart #loupe {
        display: flex;
    }

    .topHebergementReve {
        margin: 0 20px;
    }

    .groupFiltres {
        row-gap: 20px;
        display: flex;
        justify-content: space-between;
    }

    .groupFiltres button {
        width: 48%;
    }

    .groupFiltres input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .groupFiltres label {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .cardActivites {
        flex-direction: column;
    }

    .cardActivites .card {
        width: 100%;
    }

    .topRechercheAppart input {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .main-container {
        padding: 0;
    }

    header {
        align-items: center;
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        background-color: transparent;
        border-radius: 0;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
    }

    .hebergements button {
        background-color: transparent;
    }

    .activitesMarseille {
        border-radius: 0;
        width: 100%;
        padding: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }
}